{% extends "base.html" %}

{% block title %}Play Internet Roadtrip On Spranki Art Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Explore the world via Google Street View in Internet Roadtrip! Join this quirky, fun multiplayer game and experience the ultimate virtual roadtrip.">
{% endblock %}

{% block og_title %}Play Internet Roadtrip On Spranki Art game{% endblock %}
{% block og_description %}Explore the world via Google Street View in Internet Roadtrip! Join this quirky, fun multiplayer game and experience the ultimate virtual roadtrip.{% endblock %}
{% block og_image %}https://spranki.art/static/images/games/internet-roadtrip-preview.png{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/internet-roadtrip.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/internet-roadtrip-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="https://neal.fun/internet-roadtrip/",
        title="Internet Roadtrip",
        description="Explore the world via Google Street View in Internet Roadtrip! Join this quirky, fun multiplayer game and experience the ultimate virtual roadtrip.",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}

    <!-- Trending Games Section -->
    {% with current_page='internet-roadtrip' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}

    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}

    
</div>
{% endblock %}
